$defaultFont: 'Source Sans Pro', sans-serif;

//colors
$GrayColor: #343334;
$mainBlueColor: #94ccd6;
$whiteColor: #fff;
$filterSectionGrayColor: #f7f7f7;
$greenColor: #cedb56;


//screen sizes
$mobile: 768px;

