.footer {
    margin-top: 15rem;
    background-color: $GrayColor;
    color: #fff;
    .footer-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 0;
        .footer__copyright {
            &-text {
                font-family: "SourceSansPro";
            }
        }
        .footer__navigation {
            &-list {
                display: flex;
                flex-wrap: wrap;
                .footer__navigation-item {
                    text-transform: uppercase;
                    padding: 0 1rem;
                    border-right: 1px solid #fff;
                    font-size: 1rem;
                    &-link {
                        text-decoration: none;
                        color: #fff;
                        font-weight: bold;
                        letter-spacing: 3px;
                        font-family: "SourceSansPro";
                    }
                    &-link:hover {
                        border-bottom: 1px solid #fff;
                        transition: all .25s ease;
                        cursor: pointer;
                    }
                }
                .footer__navigation-item:last-child {
                    border: none;
                }
            }
        }
        .footer__social {
            .social-contacts {
                display: flex;
                &__item {
                    margin-right: 1.5rem;
                    &-link {
                        color: #fff;
                    }
                    &-link:hover {
                        cursor: pointer;
                        color: darken(#fff, 50%);
                        transition: all .25s ease;
                    }
                }
                &__svg {
                    &-tw {
                        width: 1.1rem;
                        height: 1.1rem;
                        fill: #fff;
                        align-self: center;
                        pointer-events: none;
                    }
                    &-fb {
                        width: 1.1rem;
                        height: 1.1rem;
                        fill: #fff;
                        align-self: center;
                        pointer-events: none;
                    }
                    &-li {
                        width: 1.1rem;
                        height: 1.1rem;
                        fill: #fff;
                        align-self: center;
                        pointer-events: none;
                    }
                    &-gg {
                        width: 1.35rem;
                        height: 1.35rem;
                        fill: #fff;
                        align-self: center;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .footer {
        .footer-wrapper {
            flex-direction: column-reverse;
            .footer__navigation {
                margin: 1rem 0 1rem 0;
                &-item {
                    margin-top: 1rem;
                }
            }
            .footer__social {
                margin-top: 1rem;
            }
        }
    }
}