.list {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &-item {
    position: relative;
    margin: 0 .5rem 6rem .5rem;


    &__link {

    }

    &__figure {
      max-width: 410px;
    }


    &__image {
      // height: 300px;
      margin-bottom: 50px;
      width: 100%;
    }

    &__title {
      margin-bottom: 30px;
      font-family: "SourceSansPro";
      font-weight: 900;
      font-size: 1.5rem;
      color: #000;
      letter-spacing: 1px;

    }

    &__description {
      font-family: "SourceSansPro";
      font-weight: 300;
      color: #000;
    }
  }
  // &-item:nth-last-child(-n+3) {
  
  //   .list-item__title {
  //     color: #fff;
  //   }
  
  //   .list-item__description {
  //     color: #fff;
  //   }
  // }
  
}


@media screen and (max-width: 1280px) {
  .list {
  
    &-item {
      position: relative;
      margin: 0 1.5rem 6rem 1.5rem;

    }

    &-item:nth-last-child(-n+3) {

      .list-item__title {
        color: #000;
      }
    
      .list-item__description {
        color: #000;
      }
    }
    &-item:nth-last-child(-n+1) {

      .list-item__title {
        color: #fff;
      }
    
      .list-item__description {
        color: #fff;
      }
    }  
  } 
}

@media screen and (min-width: 1280px) {
   .list {

    &-item:nth-last-child(-n+3) {

      .list-item__title {
        color: #fff;
      }
    
      .list-item__description {
        color: #fff;
      }
    } 
  } 
}


@media screen and (max-width: 768px) {
  .list {
  
    &-item {
      margin: 0 1rem 2rem 1rem;

    } 
  }
}

@media screen and (max-width: 480px) {
  .list {
  
    &-item {

      &__title {
        margin-bottom: 1rem;
        font-size: 1rem;
  
      }
  
      &__image {
        margin-bottom: 2rem;
      }
    }
  } 
} 
