.location {

    &__title {
        text-align: center;

        &-text {
            text-transform: uppercase;
            font-size: 2rem;
            font-family: $defaultFont;
            font-weight: 700;
            letter-spacing: 2px;
            margin: 3rem 1rem;
        }
    }

    &__tabs {

        .tabs-list {

            display: flex;
            justify-content: center;
            margin-bottom: 4rem;
            flex-wrap: wrap;

            &__item {
                margin-top: 1rem;
                text-transform: uppercase;
                font-family: $defaultFont;
                font-weight: 700;
                letter-spacing: 1px;
                border-right: 1px solid #000;
                padding: 0 2rem;
                font-size: 1rem;
                
                &-link {
                    text-decoration: none;
                    color: #000;
                    font-weight: bold;
                }

                &-link:hover {
                    color: $mainBlueColor;
                    transition: all .25s ease;
                    cursor: pointer;
                }
            }
            &__item:last-child {
                border: none;	
            }
        }
    }

    &__carousel {

        position: relative;
        top: calc(50% - 1rem);
        
        .carousel-list {
            // max-width: 1280px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            &__item {

                margin: .5rem;

                .item-wrapper {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    width: 17rem;
                    padding: 7rem 0;
                    overflow: hidden;
                    z-index: 1;

                    .item-country-btn {
                        position: relative;
                        padding: .7rem 3.4rem;
                        border-radius: .5rem;
                        border: none;
                        z-index: 2;
                        color: #fff;
                        background-color: $mainBlueColor;
                        outline: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-family: $defaultFont;
                        letter-spacing: .15rem;
                        line-height: 1.3rem;
                        cursor: pointer;
                    }

                    .item-country-btn:hover {
                        background-color: $greenColor;
                        transition: all .25s ease;

                    }
                    .item-country-img {
                        width: 100%;
                        position: absolute;
                        z-index: 1;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                    }
                }
            }
        }

        .triangle-left {
            display: inline-block;
            position: absolute;
            top: calc(45% - 1rem);
            width: 0;
            height: 0;
            border-top: .6rem solid transparent;
            border-right: 1rem solid #000;
            border-bottom: .6rem solid transparent;
            z-index: 5;
            cursor: pointer;
            // margin-left: calc(20% - 2rem);
            



            
        }
        
        .triangle-right {
            display: inline-block;
            position: absolute;
            top: calc(45% - 1rem);
            right: 0;
            width: 0;
            height: 0;
            border-top: .6rem solid transparent;
            border-left: 1rem solid #000;
            border-bottom: .6rem solid transparent;
            z-index: 5;
            cursor: pointer;
            // margin-right: calc(20% - 2rem);
            


        }
        
    }
    &__carousel::after {
        content: '';
        position: absolute;
        top: 60%;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 260px;
        background: url(./../../../../../images/diagonal-pattern.jpg) 50% 0;
      }
}


@media screen and (max-width: 1200px){

    .location {

        &__carousel {

            .carousel-list {

                &__item:nth-child(n+3) {
                
                display: none;

                }
            }

            .triangle-left {

                margin-left: calc(20% - 1rem);
            }

            .triangle-right {

                margin-right: calc(20% - 1rem);
            }
        
        }

    }
}

@media screen and (min-width: 1200px){

    .location {
      
        &__carousel {

            .triangle-left {

                margin-left: calc(20% - 14rem);
            }

            .triangle-right {

                margin-right: calc(20% - 14rem);
            }
        
        }

    }
}
@media screen and (max-width: 992px){

    .location {

        &__carousel {

            .carousel-list {

                &__item:nth-child(n+2) {
                
                display: none;

                }
            }
        }
    }
}

@media screen and (max-width: 480px){

    .location {

        &__carousel {

            .triangle-left {

                margin-left: calc(20% - 4rem);
            }

            .triangle-right {

                margin-right: calc(20% - 4rem);
            }
        }
    }
}