.block {

  &_list {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
      height: 350px;
      background: #d35d47;
    }
  }

  &__wrapper {
    max-width: 1280px;
    margin: auto;
  }
}
