.tags {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  margin-top: 3rem;

  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    position: relative;
    padding: 1rem 5rem 1rem 2rem;
    margin-left: 15px;
    margin-bottom: 1rem;
    background-color: #f7f7f7;

    &__name {
      font-family: 'SourceSansPro';
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    &__remove {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1rem;
      color: #8d8d8d;
      font-size: 1.5rem;

    }
  }
  &-list-mobile {
    display: none;
  }
}

@media screen and (max-width: 768px){

  .tags {

      margin-bottom: 3rem;

    &-list {
      display: none;
    }

    &-list-mobile {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
    }
    &-item-mobile {
      position: relative;
      padding: 2rem;
      margin-bottom: 1rem;
      text-align: center;
      background-color: #f7f7f7;
      font-size: 20px;

      &__name {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      &__triangle {
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 11px solid #bbb;
        margin-left: 1rem;
        }
      }
    }
  }

